Dagger2Test/Dagger2Demo/.idea/compiler.xml
Dagger2Test/Dagger2Demo/.idea/.name
Dagger2Test/Dagger2Demo/.idea/copyright/profiles_settings.xml
Dagger2Test/Dagger2Demo/.idea/modules.xml
Dagger2Test/Dagger2Demo/.idea/misc.xml
Dagger2Test/Dagger2Demo/.idea/gradle.xml
Dagger2Test/Dagger2Demo/.idea/vcs.xml